body {
    background: no-repeat top/60% url("../rsschool-cv/images/cv-bg2.jpg");
    }
main {
    margin-left: auto;
    margin-right:auto;
    width: 700px;
}
.foto {
    position:relative;
    left: 1100px;
    top: 130px;
}
.bottom-right {
    position: absolute;
    left: 600px;
} 
.upper {
    position: relative;
    bottom: 20px;
}
footer {
    text-align: right;
    margin-right: 600px;
}